<h1>Kimlan and Marilyn's Pet Shelter</h1>
<p>This is @Model.GetName(), @Model.GetName() is a @Model.GetGender() @Model.GetBreed(). @Model.GetName() came to our shelter on @Model.GetDate()</p>

<p><a href="/">Return to Main Page</a></p>
<p><a href="/animals/new">Add a new animal</a></p>
